<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>URL Shortner</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo"></div>
        <ul class="nav-links">
            <li class="nav-link nav-link1">Home</li>
            <li class="nav-link nav-link2">About</li>    
            <li class="nav-link  nav-link3">View Repo</li>  
        </ul>
    </nav>
    <h1>URL Shortner</h1>
    <p>Customer URL shortner where we can enter the long links and then shorten them by clicking on the button.</p>
</body>
</html>